main {
  font-family: "Nunito Sans";
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

h1 {
  font-family: "Nunito Sans";
  text-align: center;
  margin-bottom: 2rem;
}

.question-mark-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  justify-self: end
}

img {
  display: block;
  margin: 0 auto;
}

ol {
  padding-left: 12px;
}